header {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}
.headerNav li {
    padding: 10px;
    list-style-type: none;
}
.logo {
    height: 100px;
    width: 130px;
    cursor: pointer;
    margin-right: auto;
}
ul {
    font-family:'Prosto One';
}

.heroImg {
    flex:1;
    float: right;
    height: 690px;
    padding: 10px;
    /*!display: auto;*/
}
.heroSection h1 {
    font-size: 70px;
    padding-top: 70px;
    padding-bottom: 20px;
}
.heroSection {
    background-image: url(/images/Frame\ 1.png);
}
.heroSection p {
    font-size: 30px;
    justify-content:flex-end;
}
.content {
    flex: 1;
    height: 700px;
    margin: 0;
}
footer {
    background-color: #A05E2C;
    padding: 50;
}
footer ul {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}
li {
    display: inline;
}

.skills {
    display: flex;
    flex-direction: row;
    height: 200px;
    margin:10px;
    align-content:space-around;
}
.skill-1 {
    flex:1;
}
.skill-2 {
    flex:1;
}
.skill-3{
    flex:1;
}
.mySkills h3 {
    display:block;
    height: 75px;
    width: 458px;
    background-color: #A05E2C;
    justify-content: center;
}

.myWork {
    display:flex;
    flex-direction: column;
}
.myWork div {
    display:block;
    border: 1px solid #8EA27C;
    border-radius: 10px;
    padding:30px;
}
.case-study1 {
    flex:1;
    background-color: #8EA27C;
}
.case-study1 p {
    margin-right: auto;
}
.case-study1 img {
    display:block;
    margin-left: auto;
    height: 275px;
    width:500px;
}
.case-study2{
    flex: 1;
    background-color: #CFF3CE;
}
.case-study2 img {
    display:block;
    margin-left: auto;
    height: 450px;
    width:300px;
}
.case-study3 {
    flex: 1;
    background-color: #8EA27C;
}
h1 {
    font-family: 'Prosto One', serif;
}
h2 {
    font-family:'Prosto One', serif;
    font-size: 40px;
}
h3 {
    font-family:'Prosto One', serif;
    font-size: 27px;
}
body {
    font-family: 'Quicksand', sans-serif;
}
button {
    font-family:'Prosto One', sans-serif;
    font-size: 1rem;
    background-color: rgba(160,94,44,1);
    padding: 9px 25px;
    border:none;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(160,94,44,0.8);
    border:3px rgba(96,54,23,1);
}
#flip {
    padding:20px;
    text-align: center;
    background-color: #A05E2C;

}
#flip2 {
    padding:20px;
    text-align: center;
    background-color: #A05E2C;
}
#flip3 {
    padding:20px;
    text-align: center;
    background-color: #A05E2C;
}
#panel {
    border: solid 1px #A05E2C;
    display: none;
}
#panel2 {
    border: solid 1px #A05E2C;
    display: none;
}
#panel3 {
    border: solid 1px #A05E2C;
    display: none;
}
@media only screen and (max-width:600) {

}