header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}
.Navigation{
    display:flex;
}
.headerNav li {
   padding: 10px;
   list-style-type: none;
}
.logo {
    height: 100px;
    width: 130px;
    cursor: pointer;
    margin-right:auto;
}
ul {
    font-family:'Prosto One', sans-serif
}
h1 {
    font-family: 'Prosto One';

}
.caseHeader {
    flex: 1;
    height: 650px;
    margin: 0;
    padding: 50px;
}
.container-fluid {
    display:flex;
    flex-direction: column;
    position: center;
    margin-top: 250px;
}
.container-fluid li {
    list-style-type: disc; 
    font-family: 'Quicksand';
}
.container-fluid h5 {
    font-family: 'Prosto One';
}
.container-fluid p{
    font-family: 'Quicksand';
}
footer {
    background-color: #A05E2C;
    padding: 50;
}
li {
    display: inline-block;
    list-style-type: disc;
}
img {
    display: flex;
    max-width: 100%;
    height: auto;
}